/**
 * BigCatSpotsIllustration.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 18, 2020
 * Updated  : Aug 07, 2020
 */

div.BigCatSpotsIllustrationOuterContainer {
  padding: 20px 20px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

div.BigCatSpotsIllustrationItemContainer {
  width: 200px;
}

div.BigCatSpotsIllustrationTextRevealDetailedContainer {
  width: 200px;
  height: 200px;
}
