/**
 * BiologyPage_Subsection_BodyAndBone.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 17, 2020
 * Updated  : Jul 18, 2020
 */

div.BiologyPageSubsectionBodyAndBoneCheetahAccelerationIllustrationContainer {
  width: 1126px;  
}

div.BiologyPageSubsectionBodyAndBoneAnimationImageContainer {
  margin-top: 200px;
  margin-right: 20px;
}
