/**
 * BiologyPage_Subsection_Skull.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 17, 2020
 * Updated  : Aug 12, 2020
 */

div.BiologyPageSubsectionSkullCheetahSkullDiagramContainer {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 1112px) {
  div.BiologyPageSubsectionSkullCheetahSkullDiagramContainer {
    display: none;
  }
}
