/**
 * BiologyPageIntroSection.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 16, 2020
 * Updated  : Jul 18, 2020
 */

div.BiologyPageIntroSectionInnerContainer {
  display: block;
}

div.BiologyPageIntroSectionInnerContainer_DebugColor {
  background-color: orange;
}

img.BiologyPageIntroSectionImg {
  float: right;
}

div.BiologyPageIntroSectionInnerContainer::after {
  float: clear;
}
