/**
 * CheetahOlympics.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 17, 2020
 * Updated  : Jul 31, 2020
 */

div.CheetahOlympicsOuterContainer {
  margin: 0 auto;
  width: 720px;
  background-color: wheat;
  font-size: 16px;
}

div.CheetahOlympicsInnerContainer {
  text-align: center;
}
