/**
 * EcologyPage_Subsection_CheetahFriendlyFarming.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 21, 2020
 * Updated  : Jul 30, 2020
 */

img.FlexClipartSheep {
  z-index: 100;
  position: relative;
  left: -120px;
  margin-top: -200px;
}

img.FlexClipartCattle {
  z-index: 100;
  position: relative;
  right: -120px;
  margin-top: -200px;
}
