/**
 * LandingPageGateway.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 02, 2020
 * Updated  : Jul 04, 2020
 */

 @media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.menu {
    float: right;
  }

  html {
    scroll-behavior: smooth;
  }
}

.ui.vertical.center.aligned.segment {
  padding-top: 36px;
}

.ui.vertical.segment {
  height: 100vh;
  background-size: cover !important;
  background-position: center; /* Center the image */
}

.ui.vertical.segment.centerSegmentStyle1 {
  background-image: url('./assets/CCF_Field_and_Research_Centre.jpg');
}

.ui.vertical.segment.centerSegmentStyle2 {
  background-image: url('./assets/cheetah-mother-and-cubs-on-termite-mound.jpg');
}

.ui.vertical.segment.centerSegmentStyle3 {
  background-image: url('./assets/background_CCF_03.jpg');
}

.ui.vertical.segment.centerSegmentStyle4 {
  background-image: url('./assets/background_CCF_04.jpg');
}

.ui.content.container {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.ui.content.container h1.header {
  font-size: 36px;
  color: #F8F8FF;
  text-shadow: 2px 2px 4px #000000;
}

.ui.content.container p.subtitle {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.ui.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: gray;
}

.ui.vertical.segment footer.ui.segment a {
  color: white;
}
