/**
 * Caption.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 09, 2020
 * Updated  : Aug 13, 2020
 */

div.IconContainer {
  float: left;
  margin-right: 4px;
}

p.CaptionText {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5px;
}
