/**
 * Caption.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 09, 2020
 * Updated  : Jul 30, 2020
 */

div.CaptionContainer {
  margin: 0 auto;
  max-width: 100%;
}

div.CaptionContainer_DebugColor {
  background-color: cadetblue;
}

div.IconContainer {
  float: left;
  margin-right: 4px;
}

div.IconContainer_DebugColor {
  background-color: coral;
}

p.CaptionText {
  /** Specify a height to make sure variable content
   * does not cause layout size change (i.e., page jump).
   */
  max-height: 75px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 5px;
}
