/**
 * CircularImageButton.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Aug 07, 2020
 */

div.CircularImageButtonOuterContainer {
  display: inline-block;
}

div.CircularImageButtonCore {
  width:212px;
  height:212px;
  border:6px solid orange;  
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;  
}

img.CircularImageButtonImg {
  width:200px;
  height:200px;
  border-radius: 50%;
}

img.CircularImageButtonImg:hover {
  filter: contrast(120%);
}

p.CircularImageButtonTitle {
  width: 212px;
  margin-top: 5px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
