/**
 * CircularImage.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 29, 2020
 */

div.CircularImageOuterContainer {
  /** NOTE: This need to be kept in sync with width below. */
  width: 384px;
}

div.CircularImageOuterContainer_DebugColor {
  background-color: gray;
}

div.CircularImageCore {
  width: 384px;
  height: 384px;
  border: 12px solid orange;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;  
}

img.CircularImageImg {
  width: 361px;
  height: 361px;
  border-radius: 50%;
}

p.CircularImageTitle {
  margin-top: 5px;
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: orange;
}
