/**
 * CircularImageButton-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 07, 2020
 */

div.CircularImageButtonOuterContainer_DebugColor {
  background-color: gray;
}

img.CircularImageButtonImg_DebugColor {
  background-color: pink;
}

p.CircularImageButtonTitle_DebugColor {
  background-color: gold;
}
