/**
 * ContentPageTopNavMenuBar.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Aug 14, 2020
 */

div.ContentPageTopNavMenuBarContainer {
  /* width: 100%; */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: pink;
}

div.ContentPageTopNavMenuBarMenuListSidePseudoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul.ContentPageTopNavMenuBarMenuList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

nav ul.ContentPageTopNavMenuBarMenuList li {
  padding: 0.6em 0.6em;
  margin-left: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

nav ul.ContentPageTopNavMenuBarMenuList li.ActiveItem {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
  border-radius: .28571429rem;
}

nav ul.ContentPageTopNavMenuBarMenuList li.ActiveItem a {
  color: rgba(0,0,0,.95);
}

nav ul.ContentPageTopNavMenuBarMenuList li a {
  color: gray;
}

nav ul.ContentPageTopNavMenuBarMenuList li a:hover {
  color: rgba(0,0,0,.95);
}

@media (max-width: 917px) {
  div.ContentPageTopNavMenuBarContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  nav ul.ContentPageTopNavMenuBarMenuList {
    justify-content: space-between;
  }

  nav ul.ContentPageTopNavMenuBarMenuList li {
    margin: auto 0.6em;
  }
}

@media (max-width: 639px) {
  div.ContentPageTopNavMenuBarContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  div.ContentPageTopNavMenuBarLogoPseudoContainer {
    margin: 10px auto;
  }

  nav ul.ContentPageTopNavMenuBarMenuList {
    flex-direction: column;
    align-items: center;
  }

  nav ul.ContentPageTopNavMenuBarMenuList li {
    margin: 0 auto;
  }
}
