/**
 * ContentPageIntroParagraph.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 07, 2020
 */

div.ContentPageIntroParagraphOuterContainer {
  margin: 0 auto;
}

div.ContentPageIntroParagraphInnerContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: yellowgreen;
}

div.ContentPageIntroParagraphTitleContainer {
  padding: 20px 0px;
  /* Uncomment line below for debugging. */
  background-color: violet;
}

div.ContentPageIntroParagraphContentContainer {
  /* Uncomment line below for debugging. */
  background-color: tan;
}

p.ContentPageIntroParagraphContentText {
  text-align: left;
}
