/**
 * ContentPageSharedStyles.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Jul 23, 2020
 */

/** ----------------------------- CONTAINER -------------------------------- **/

div.ContentPageSkeletonContentContainerDimension {
  margin: 0px auto;
  min-width: 1200px;
  max-width: 1600px;
}

/**
 * NOTE:
 * This specifies the common width style of content
 * page section inner content.
 */
div.ContentPageContentInnerContentDimension {
  width: 85%;
}

div.FactBannerDimension {
  width: 640px;
}

.FactBannerMediumDimension {
  width: 720px;
}

/** ------------------------- CONTAINER AUXILLARY -------------------------- **/

div.OverflowHidden {
  overflow: hidden;
}

div.FloatLeft {
  float: left;
}

div.FloatRight {
  float: right;
}

div.Centered {
  margin: 0 auto;
}

div.VerticalCushionPadding {
  padding: 20px 0;
}

.VerticalCushionPadding {
  padding: 20px 0;
}

div.HorizontalCusionPadding {
  padding: 0 50px;
}

div.LeftMargin50px {
  margin-left: 50px;
}

div.RightMargin50px {
  margin-right: 50px;
}

div.BottomMargin50px {
  margin-bottom: 50px;
}

.FullWidth {
  width: 100%;
}

/** ------------------------------- TEXT ----------------------------------- **/

h1.ContentPageIntroSectionTemplateTitle {
  font-size: 64px;
  line-height: 1.6;
  text-decoration: underline;
}

h1.ContentPageIntroSectionTemplateTitle_DebugColor {
  background-color: powderblue;
}

h2.ContentPageSectionHeadTitle {
  font-size: 48px;
  line-height: 1.6;
  background-image: url("./assets/section_header_banner_bg_01.png");
  background-repeat: no-repeat;
  background-position: right center;
}

h2.ContentPageSectionHeadTitle_DebugColor {
  background-color: lightsalmon;
}

h3.ContentPageSubsectionTitle {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

h3.ContentPageSubsectionTitle_DebugColor {
  background-color: cornflowerblue;
}

h4.ContentPageSubsectionSubtitle {
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
}

h4.ContentPageSubsectionSubtitle_DebugColor {
  background-color: goldenrod;
}

h4.ContentPageSubsectionAlarmBannerSubtitle {
  margin: 20px auto;
  width: 60%;
  /* display: inline-block; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1.1;
  color: red;
  border-bottom: 3px solid black;
}

div.DisplayInlineBlock {
  display: inline-block;
}

div.CenteredBlowoutBox {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

h2.ContentPageSubsectionColumnContentTitle {
  /**
   * This is to ensure the element has zero height
   * if the title is not specified.
   */
  margin: 0 auto;
}

h2.ContentPageSubsectionColumnContentTitle_DebugColor {
  text-align: center;
  color: goldenrod;
  background-color: hotpink;
}

h3.ContentPageSubsectionColumnContentSubtitle {
}

h3.ContentPageSubsectionColumnContentSubtitle_DebugColor {
  color: yellow;
  background-color: indigo;
}

/* p.ContentPageParagraphText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: burlywood;
} */

p.ContentPageSectionSubtitleText {
  line-height: 1.7;
  margin: 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  word-wrap: break-word;
}

p.ContentPageRegularTextSize {
  font-size: 16px;
}

li.ContentPageBulletTextStyle {
  font-size: 16px;
  line-height: 2.0em;
}

p.ContentPageCaptionTextSize {
  font-size: 15px;
}

p.ContentPageCaptionTextSize_DebugColor {
  color: aqua;
}

p.ContentPageContentParagraphText_DebugColor {
  color: chocolate;
}

p.ContentPageContentParagraphText {
  line-height: 1.8em;
}

span.TaxonomyBinomialName {
  font-style: italic;
}

.TextCentered {
  text-align: center;
}
