/**
 * ContentPageSubsectionThreeColumnContentTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageSubsectionThreeColumnContentTemplateOuterContainer {
  padding: 10px;
}

div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer {
}

div.ContentPageSubsectionThreeColumnContentTemplateColumn {
  float: left;
  text-align: center;
  padding: 20px;
}

div.ContentPageSubsectionThreeColumnContentTemplateColumnContainer:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

div.ContentPageSubsectionThreeColumnContentTemplateLeftColumnContainer {
  width: 25%;
}

div.ContentPageSubsectionThreeColumnContentTemplateMiddleColumnContainer {
  width: 50%;
}

div.ContentPageSubsectionThreeColumnContentTemplateRightColumnContainer {
  width: 25%;
}
