/**
 * ContentPageSubsectionTwoColumnContentTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Aug 11, 2020
 */

div.ContentPageSubsectionTwoColumnContentTemplateOuterContainer {
  margin: 0 auto;
}

div.ContentPageSubsectionTwoColumnContentTemplateInnerContainer {
  display: flex;
  flex-wrap: nowrap;
}

div.ContentPageSubsectionTwoColumnContentTemplateColumnInnerContainerLhs {
  padding-right: 1rem;
  flex: 1;
}

div.ContentPageSubsectionTwoColumnContentTemplateColumnInnerContainerRhs {
  padding-left: 1rem;
  flex: 1;
}

@media (max-width: 1023px) {
  div.ContentPageSubsectionTwoColumnContentTemplateInnerContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
