/**
 * ContentPageIntroSectionGeneric.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 24, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageIntroSectionGenericInnerContainer {
  display: block;
  overflow: hidden;
}

img.ContentPageIntroSectionGenericImg {
  position: relative;
  float: right;
}

div.ContentPageIntroSectionGenericInnerContainer::after {
  float: clear;
}
