/**
 * ContentPageSubsectionTwoColumnContentTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 08, 2020
 */

 div.ContentPageSubsectionTwoColumnContentTemplateOuterContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: green;
}

div.ContentPageSubsectionTwoColumnContentTemplateInnerContainer {
  /**
   * NOTE:
   * For fixing top padding issue with Semantic UI's Grid component.
   */
  margin-top: 10px;
}

div.ContentPageSubsectionTwoColumnContentTemplateColumnInnerContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: lightyellow;
}
