/**
 * ContentPageSubsectionThreeColumnContentTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 11, 2020
 */

div.ContentPageSubsectionThreeColumnContentTemplateOuterContainer {
  padding: 10px;
}

div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer {
  display: flex;
  flex-wrap: nowrap;
}

div.ContentPageSubsectionThreeColumnContentTemplateColumn {
  /* float: left; */
  text-align: center;
  padding: 20px;
}

div.ContentPageSubsectionThreeColumnContentTemplateLeftColumnContainer {
  flex-basis: 25%;
}

div.ContentPageSubsectionThreeColumnContentTemplateMiddleColumnContainer {
  flex-basis: 50%;
}

div.ContentPageSubsectionThreeColumnContentTemplateRightColumnContainer {
  flex-basis: 25%;
}

@media (max-width: 1023px) {
  div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer {
    flex-wrap: wrap;
    background-color: deepskyblue;
  }

  div.ContentPageSubsectionThreeColumnContentTemplateLeftColumnContainer {
    flex-basis: 100%;
  }

  div.ContentPageSubsectionThreeColumnContentTemplateMiddleColumnContainer {
    flex-basis: 100%;
  }

  div.ContentPageSubsectionThreeColumnContentTemplateRightColumnContainer {
    flex-basis: 100%;
  }
}
