/**
 * ContentPageTail.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 11, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageTailOuterContainer {
  margin-bottom: 50px;
}

div.ContentPageTailInnerContainer {
  display: block;
  margin: 0px auto;
  /**
   * NOTE:
   * width is specified `div.ContentPageContentInnerContentDimension`
   * in ContentPageSharedStyles.css
   */
}

div.ContentPageTailInnerImageCollageContainer {
  /**
   * TODO
   * This hardcoded width is not great...
   */
  width: 840px;
  margin: 20px auto;
}

div.ContentPageTailInnerNavMenuContainer {
  margin: 40px auto;
}
