/**
 * ContentPageSubsectionTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageSubsectionTemplateOuterContainer {
  margin: 0 auto;
  padding: 50px 0px;
}

div.ContentPageSubsectionTemplateInnerContainer {
  margin: 0 auto;
  /**
   * NOTE:
   * width is specified `div.ContentPageContentInnerContentDimension`
   * in ContentPageSharedStyles.css
   */
}

h3.ContentPageSubsectionTitle {
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}
