/**
 * ContentPageSectionHead-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 18, 2020
 */

.ContentPageSectionHeadInnerContainer_DebugColor {
  background-color: yellowgreen;
}

h2.ContentPageSectionHeadTitle_DebugColor {
  background-color: lightsalmon;
}

p.ContentPageHeadAndSectionIntroText_DebugColor {
  background-color: cornsilk;
}
