/**
 * ContentPageSubsectionTwoColumnContentTemplate-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Jun 06, 2022
 */

div.ContentPageSubsectionTwoColumnContentTemplateOuterContainer_DebugColor {
  background-color: green;
}

div.ContentPageSubsectionTwoColumnContentTemplateColumnInnerContainer_DebugColor {
  background-color: gray;
  border: 2px solid;
  border-color: red;
}
