/**
 * ContentPageIntroSectionTemplate-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageIntroSectionTemplateInnerContainer_DebugColor {
  background-color: yellowgreen;
}

div.ContentPageIntroSectionTemplateTitleContainer_DebugColor {
  background-color: violet;
}

div.ContentPageIntroSectionTemplateContentContainer_DebugColor {
  background-color: tan;
}

h1.ContentPageIntroSectionTemplateTitle_DebugColor {
  background-color: powderblue;
}
