/**
 * ContentPageSideNavMenu.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 14, 2020
 * Updated  : Jul 14, 2020
 */

div.ContentPageSideNavMenuOuterContainer {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

div.ContentPageSideNavMenuOuterContainer_DebugColor {
  background-color: beige;
}

span.ContentPageSideNavMenuHeader {
  font-size: 26px;
}

span.ContentPageSideNavMenuItem {
  color: black;
  /* background-color: blueviolet; */
  font-size: 20px;
  /* text-transform: uppercase; */
}

span.ContentPageSideNavMenuItem:hover {
  color: blue;
}
