/**
 * ContentPageSubsectionThreeColumnContentTemplate-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 07, 2020
 */

div.ContentPageSubsectionThreeColumnContentTemplateOuterContainer_DebugColor {
  background-color: firebrick;
}

div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer_DebugColor {
  background-color: floralwhite;
}

div.ContentPageSubsectionThreeColumnContentTemplateLeftColumnContainer_DebugColor {
  background-color: red;
}

div.ContentPageSubsectionThreeColumnContentTemplateMiddleColumnContainer_DebugColor {
  background-color: yellow;
}

div.ContentPageSubsectionThreeColumnContentTemplateRightColumnContainer_DebugColor {
  background-color: green;
}
