/**
 * ContentPageIntroSectionGeneric.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 24, 2020
 * Updated  : Aug 22, 2021
 */

div.ContentPageIntroSectionGenericInnerContainer {
  display: flex;
  flex-direction: row;
}

div.ContentPageIntroSectionGenericIntroTextContainer {
  flex: 4;
}

div.ContentPageIntroSectionGenericImgContainer {
  flex: 6;
}

img.ContentPageIntroSectionGenericImg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 1535px) {
  div.ContentPageIntroSectionGenericInnerContainer {
    flex-direction: column;
  }

  div.ContentPageIntroSectionGenericImgContainer {
    order: 1;
  }

  div.ContentPageIntroSectionGenericIntroTextContainer {
    order: 2;
  }

  img.ContentPageIntroSectionGenericImg {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
