/**
 * ContentPageSharedStyles.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Jul 06, 2020
 */

div.ContentPageSkeletonContentContainerDimension {
  margin: 0px auto;
  /* width: 75%; */
  min-width: 1200px;
  max-width: 1600px;
}
