/**
 * ContentPageSubsectionThreeColumnContentTemplate.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 11, 2020
 */

div.ContentPageSubsectionThreeColumnContentTemplateOuterContainer {
  padding: 10px;
}

div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer {
  display: flex;
  flex-wrap: nowrap;
}

div.ContentPageSubsectionThreeColumnContentTemplateColumn {
  text-align: center;
  padding: 20px;
}

div.ContentPageSubsectionThreeColumnContentTemplateLeftColumnContainer {
  flex: 1;
}

div.ContentPageSubsectionThreeColumnContentTemplateMiddleColumnContainer {
  flex: 2;
}

div.ContentPageSubsectionThreeColumnContentTemplateRightColumnContainer {
  flex: 1;
}

@media (max-width: 1023px) {
  div.ContentPageSubsectionThreeColumnContentTemplateInnerContainer {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
