/**
 * ContentPageBanner.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Jul 07, 2020
 */

div.ContentPageBannerContainer {
  background-color: red;
  height: 800px;
  background-size: cover;
}

div.ContentPageBannerTitleContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
}

h1.ContentPageBannerTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 80px;
  font-weight: 800;
}

hr.ContentPageBannerTitleLineBreak {
  width: 200px;
  color: whitesmoke;
  border: 2px solid #098094;
}

h2.ContentPageBannerSubtitle {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 520;
  line-height: 1.6;
  color: white;
  /* Uncomment line below for debugging. */
  /* background-color: turquoise; */
}
