/**
 * ContentPageSharedStyles.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Jul 27, 2020
 */

/** ----------------------------- CONTAINER -------------------------------- **/

div.ContentPageSkeletonContentContainerDimension {
  margin: 0px auto;
  min-width: 1200px;
  max-width: 1600px;
}

/**
 * NOTE:
 * This specifies the common width style of content
 * page section inner content.
 */
div.ContentPageContentInnerContentDimension {
  width: 85%;
}

.FactBannerSmallDimension {
  width: 640px;
}

.FactBannerMediumDimension {
  width: 720px;
}

.FactBannerLargeDimension {
  width: 960px;
}

/** ------------------------- CONTAINER AUXILLARY -------------------------- **/

div.CenteredBlowoutBox {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

div.OverflowHidden {
  overflow: hidden;
}

div.FloatLeft {
  float: left;
}

div.FloatRight {
  float: right;
}

div.Centered {
  margin: 0 auto;
}

div.VerticalCushionPadding {
  padding: 20px 0;
}

.VerticalCushionPadding {
  padding: 20px 0;
}

div.HorizontalCusionPadding {
  padding: 0 50px;
}

div.HorizontalCusionPaddingLeft {
  padding-left: 40px;
}

div.HorizontalCusionPaddingRight {
  padding-right: 40px;
}

div.LeftMargin50px {
  margin-left: 50px;
}

div.RightMargin50px {
  margin-right: 50px;
}

div.BottomMargin50px {
  margin-bottom: 50px;
}

.FullWidth {
  max-width: 100%;
}

/** ------------------------------- TEXT ----------------------------------- **/

.ContentPageRegularTextSize {
  font-size: 18px;
}

p.ContentPageContentParagraphText {
  padding: 15px;
  line-height: 1.8;
}

p.ContentPageContentParagraphText_DebugColor {
  color: chocolate;
  background-color: palegoldenrod;
}

li.ContentPageBulletTextStyle {
  line-height: 2.0em;
}

p.ContentPageCaptionTextSize {
  font-size: 16px;
}

p.ContentPageCaptionTextSize_DebugColor {
  color: aqua;
}

span.TaxonomyBinomialName {
  font-style: italic;
}

.TextCentered {
  text-align: center;
}
