/**
 * ContentPageSectionHead.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Aug 18, 2020
 */

.ContentPageSectionHeadOuterContainer {
  margin: 0 auto;
}

h2.ContentPageSectionHeadTitle {
  padding: 1rem 0;
  font-size: 48px;
  line-height: 1.6;
}

@media (min-width: 1000px) {
  h2.ContentPageSectionHeadTitle {
    background-image: url("./assets/section_header_banner_bg_01-min.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
}
