/**
 * ContentPageParagraph.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 28, 2020
 * Updated  : Jul 28, 2020
 */

p.ContentPageContentParagraphText {
  padding: 15px;
  line-height: 1.9;
}

p.ContentPageContentParagraphText_DebugColor {
  color: chocolate;
  background-color: palegoldenrod;
}
