/**
 * ContentPageTail.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 11, 2020
 * Updated  : Aug 18, 2020
 */

div.ContentPageTailOuterContainer {
  margin-bottom: 50px;
}

div.ContentPageTailInnerContainer {
  display: block;
  margin: 0px auto;
}

div.ContentPageTailInnerImageCollageContainer {
  /**
   * TODO
   * This hardcoded width is not great...
   */
  width: 840px;
  margin: 20px auto;
}

div.ContentPageTailInnerNavMenuContainer {
  margin: 40px auto;
}

@media (max-width: 1023px) {
  div.ContentPageTailInnerImageCollageContainer {
    display: none;
  }
}
