/**
 * ContentPageSkeleton.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Aug 18, 2020
 */

.ContentPageSkeletonOuterContainer {
  background-color: rgba(239, 239, 239, 1.0);
}

div.ContentPageSkeletonContentContainer {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

/** This width specification is kept in sync
    with the one defined in ContentPageTopNavMenuBar.css
*/
@media (max-width: 918px) {
  div.ui.left.internal.rail.ContentPageSkeletonSideRail {
    display: none;
  }
}
