/**
 * ContentPageSectionHead.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 28, 2020
 */

div.ContentPageSectionHeadOuterContainer {
  margin: 0 auto;
}

div.ContentPageSectionHeadInnerContainer {
  margin: 0 auto;
}

div.ContentPageSectionHeadInnerContainer_DebugColor {
  background-color: yellowgreen;
}

div.ContentPageSectionHeadTitleContainer {
  padding: 20px 0px; 
}

div.ContentPageSectionHeadTitleContainer_DebugColor {
  background-color: yellow;
}

h2.ContentPageSectionHeadTitle {
  font-size: 48px;
  line-height: 1.6;
  background-image: url("./assets/section_header_banner_bg_01.png");
  background-repeat: no-repeat;
  background-position: right center;
}

h2.ContentPageSectionHeadTitle_DebugColor {
  background-color: lightsalmon;
}
