/**
 * ContentPageSideNavMenu.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 14, 2020
 * Updated  : Jun 13, 2022
 */

div.ContentPageSideNavMenuOuterContainer {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #feb628;
  margin-top: 5px;
}

div.ui.text.vertical.ContentPageSideNavMenuInnerMenu.menu {
  padding: 20px;
}

div.ui.text.vertical.ContentPageSideNavMenuInnerMenu.menu a.active.item :hover {
  color: black;
}

span.ContentPageSideNavMenuTopItem {
  font-size: 26px;
  color: #757575
}

p.ContentPageSideNavMenuTopItemInactive {
  font-size: 26px;
  margin: 8px 0px; /* manual fix-up to be consistent with outer menu items */
}

div.ui.link.list.ContentPageSideNavMenuSectionMenuList {
  padding-left: 20px;
  font-size: 16px;
}

div.ui.link.list.ContentPageSideNavMenuSectionMenuList a.item {
  padding-right: 32px;
}

div.ui.link.list.ContentPageSideNavMenuSectionMenuList a.item:hover {
  color: black;
  background-image: url("./assets/content_page_side_nav_menu_item_background-min.png");
  background-repeat: no-repeat;
  background-position: right center;
}
