/**
 * ContentPageSubsectionSubtitle.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 25, 2020
 * Updated  : Jul 26, 2020
 */

h4.ContentPageSubsectionSubtitle {
  margin: 20px auto;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

h4.ContentPageSubsectionSubtitle_DebugColor {
  background-color: goldenrod;
}
