/**
 * FactBannerImage.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 11, 2020
 * Updated  : Aug 23, 2021
 */

img.FactBannerImage {
  height: 100%;
}

img.FactBannerSmallDimension {
  width: 640px;
}

img.FactBannerMediumDimension {
  width: 720px;
}

img.FactBannerLargeDimension {
  width: 960px;
}
