/**
 * FluidTwoColumnContainer.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 04, 2020
 * Updated  : Aug 13, 2020
 */

div.FluidTwoColumnContainerOuterContainer {
  display: flex;
}

div.FluidTwoColumnContainerColumnContainer {
  flex: 1;
}

div.FluidTwoColumnLhsContainerColumnContainer {
  padding-right: 2em;
}

div.FluidTwoColumnRhsContainerColumnContainer {
  padding-left: 2em;
}

@media (max-width: 1023px) {
  div.FluidTwoColumnContainerOuterContainer {
    flex-direction: column;
  }

  div.FluidTwoColumnLhsContainerColumnContainer {
    padding: 0;
  }
  
  div.FluidTwoColumnRhsContainerColumnContainer {
    padding: 0;
  }
}
