/**
 * Footer.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 19, 2020
 * Updated  : Aug 19, 2020
 */

p.FooterColumnHeading {
  font-size: 18px;
  color: white;
}

@media (max-width: 415px) {
  .FooterNav a {
    display: inline-block;
    font-size: 17px;
    margin: 1rem auto;
    padding: 20px;
  }
}
