/**
 * GlobalPageStyles.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 04, 2020
 * Updated  : Jul 12, 2020
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;  
}

p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  /* font-size: 14px; */
  font-size: 1.25rem;
  line-height: 1.6em;
  color: burlywood;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 700px;
    max-width: 700px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.menu {
    float: right;
  }

  html {
    scroll-behavior: smooth;
  }
}
