/**
 * ImageSlideModal-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 08, 2020
 */

div.ImageSlideModalCoverTriggerOuterContainer_DebugColor {
  background-color: gray;
}

div.ImageSlideModalComponentModalContentOuterContainer_DebugColor {
  background-color: palegoldenrod;
}

div.ImageSlideModalComponentModalContentImageContainer_DebugColor {
  background-color: orangered;
}
