/**
 * ImageViewModal.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 29, 2020
 * Updated  : Jul 30, 2020
 */

div.ImageViewModalCoverTriggerOuterContainer {
  display: block;
  position: relative;
  background-size: cover;
  cursor: pointer;
}

div.ImageViewModalCoverTriggerOuterContainer:hover {
  opacity: 0.6;
}

div.ImageViewModalCoverTriggerImageIconInnerContainer {
  position: absolute;
  bottom: 8px;
  right: 0;
}

div.ImageViewModalComponentModalContentOuterContainer {
  margin: 0 auto;
}

div.ImageViewModalComponentModalContentOuterContainer_DebugColor {
  background-color: palegoldenrod;
}

div.ImageViewModalComponentModalContentImageContainer {
  margin: 0 auto;
}

div.ImageViewModalComponentModalContentImageContainer_DebugColor {
  background-color: orangered;
}

img.ui.huge.image.ImageViewModalComponentModalContentImage {
  display: block;
  margin: 0 auto;
}
