/**
 * ImageSlideModal.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 05, 2020
 * Updated  : Jun 11, 2022
 */

div.ImageSlideModalCoverTriggerOuterContainer {
  max-width: 100%;
}

div.ImageSlideModalCoverTriggerInnerContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  float: left;
  background-size: cover;
}

div.ImageSlideModalCoverTriggerImageIconInnerContainer {
  position:absolute;
  bottom:0;
  right:0;
}

div.ImageSlideModalCoverTriggerInnerContainer:hover {
  filter: opacity(60%)
}

div.ImageSlideModalComponentModalDescriptionPaginationButtonContainer {
  margin-top: 20px;
}

p.ImageSlideModalComponentModalDescriptionPaginationLabel {
  margin-top: 20px;
  color: rgba(100,100,100,1.0);
  font-style: italic;
  font-weight: 700;
}

div.ImageSlideModalComponentModalContentOuterContainer {
  margin: 0 auto;
}

img.ui.huge.image.ImageSlideModalComponentModalContentImage {
  display: block;
  margin: 0 auto;
}

div.ImageSlideModalComponentModalContentImageContainer {
  margin: 0 auto;
}

div.ImageSlideModalComponentModalDescriptionContainer {
  display: block-inline;
  margin: 0 auto;
}

h3.ui.header.ImageSlideModalComponentModalDescriptionHeader {
  margin-top: 20px;
}
