/**
 * ImageView.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 30, 2020
 */

div.ImageViewOuterContainer {
  display: block;
  max-width: 100%;
}

div.ImageViewOuterContainer_DebugColor {
  background-color: orchid;
}

img.ImageViewImg {
  max-width: 100%;
  filter: drop-shadow(1px 1px 1px #222);
}
