/**
 * ImageSlide.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 09, 2020
 * Updated  : Jul 31, 2020
 */

div.ImageSlideOuterContainer {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

div.ImageSlideOuterContainer_DebugColor {
  background-color: pink;
}

div.ImageSlideInnerContainer {
}

div.ImageSlideInnerContainer_DebugColor {
  background-color: brown;
}

div.ImageSlideImgElementContainer {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  /**
   * NOTE
   *
   * Here we want to make sure the background image is resized to make sure the image is fully visible.
   * So we need to specify the background size to be 'contain'.
   *
   * https://www.w3schools.com/cssref/css3_pr_background-size.asp
   */
  background-size: contain;
  background-repeat: no-repeat;
}

div.ImageSlideImgElementContainer_DebugColor {
  background-color: greenyellow;
}

img.ImageSlideImgElement {
  /**
   * NOTE:
   *
   * Here we want the image to stretch to fit within the boundary of the container,
   * and prevent potentially bleeding over the container's boundary
   * (i.e. if the container dimension is LESS than the specified imageWidth).
   *
   * Specifying both the max-width and max-height to 100% does the trick:
   * https://stackoverflow.com/questions/3029422/how-do-i-auto-resize-an-image-to-fit-a-div-container
   *
   * Hell this is all magic isn't it ...
   */
  max-width: 100%;
  max-height: 100%;
}

div.ImageSlideSliderAndLabelOuterContainer {
  text-align: center;
}

div.ImageSlideSliderAndLabelOuterContainer_DebugColor {
  background-color: khaki;
}

div.ImageSlideLabelOuterContainer {
  text-align: center;
  padding: 5px 20px;
}

div.ImageSlideLabelOuterContainer_DebugColor {
  background-color: lightblue;
}

div.ImageSlideSliderAndLabelInnerContainer {
}

div.ImageSlideSliderAndLabelInnerContainer_DebugColor {
  background-color: lavender;
}

div.ImageSlideComponentSliderNameLabelContainer {
  float: left;
}

div.ImageSlideComponentSliderNameLabelContainer_DebugColor {
  background-color: lightskyblue;
}

div.ImageSlideComponentSliderEndLabelContainer {
  float: right;
}

div.ImageSlideComponentSliderEndLabelContainer_DebugColor {
  background-color: peru;
}

div.ImageSlideSliderElementContainer {
  display: block;
  margin: 0 auto;
  width: 80%;
}

div.ImageSlideSliderElementContainer_DebugColor {
  background-color: greenyellow;
}
