/**
 * ImageSlideModal.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 05, 2020
 * Updated  : Jul 12, 2020
 */

div.ImageSliderModalCoverTriggerOuterContainer {
  position: relative;
  float: left;
  background-color: gray;
  background-size: cover;
  opacity: 0.6;
  border-radius: 6px;
  border: 1px solid gray;
}

div.ImageSliderModalCoverTriggerImageIconInnerContainer {
  position:absolute;
  bottom:0;
  right:0;
}

div.ImageSliderModalCoverTriggerOuterContainer:hover {
  filter: opacity(60%)
}

div.ImageSlideModalComponentModalDescriptionPaginationButtonContainer {
  margin-top: 20px;
}

p.ImageSlideModalComponentModalDescriptionPaginationLabel {
  margin-top: 20px;
  color: rgba(100,100,100,1.0);
  font-style: italic;
  font-weight: 700;
}

div.ImageSlideModalComponentModalContentOuterContainer {
  margin: 0 auto;
}

div.ImageSlideModalComponentModalContentOuterContainer_DebugColor {
  background-color: palegoldenrod;
}

img.ui.huge.image.ImageSlideModalComponentModalContentImage {
  display: block;
  margin: 0 auto;
}

div.ImageSlideModalComponentModalContentImageContainer {
  margin: 0 auto;
}

div.ImageSlideModalComponentModalContentImageContainer_DebugColor {
  background-color: orangered;
}

div.ImageSlideModalComponentModalDescriptionContainer {
  display: block-inline;
  margin: 0 auto;
}

h3.ui.header.ImageSlideModalComponentModalDescriptionHeader {
  margin-top: 20px;
}
