/**
 * ImageCollage.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 09, 2020
 */

div.ImageCollageOuterContainer {
  display: inline-block;
  filter: drop-shadow(1px 3px 2px #222);
}

div.ImageCollageInnerContainer {
  display: flex;
  flex-flow: row wrap;
}

div.ImageCollageInnerContainer::after {
  float: clear;
}
