/**
 * ImageSlidingGalleryDiscrete.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 23, 2020
 * Updated  : Jun 09, 2022
 */

div.ImageSlidingGalleryDiscreteOuterContainer {
  display: block;
  max-width: 100%;
  height: auto;
  position: relative;
}

div.ImageSlidingGalleryDiscreteInnerContainer {
  max-width: 100%;
  height: auto;
}

div.ImageSlidingGalleryDiscreteCoreContainer {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.ImageSlidingGalleryDiscreteButtonGroupContainer {
  display: inline-block;
  margin: 20px auto;
}

div.ImageSlidingGalleryDiscreteButtonContainer {
  position: absolute;
}

div.ImageSlidingGalleryDiscreteButtonLhsContainer {
  left: 0px;
}

div.ImageSlidingGalleryDiscreteButtonRhsContainer {
  right: 0px;
}
