/**
 * ImageSlidingGallery.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Jun 07, 2022
 */

div.ImageSlidingGalleryCoreContainer {
  position: relative;
  padding-left: 55px;
}

img.ImageSlidingGalleryImgPart {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  text-align: left;
}

div.ImageSlidingGalleryButtonContainer {
  position: absolute;
  justify-content: center;
  margin: 0;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
