/**
 * PopUpLabelledDiagram.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 16, 2020
 * Updated  : Jul 16, 2020
 */

div.PopUpLabelledDiagramOuterComponent {
  background-size: cover;
}

div.PopUpLabelledDiagramOuterComponent_DebugColor {
  background-color: slateblue;
}

div.PopUpLabelledDiagramInnerComponent {
  position: absolute;
}

div.PopUpLabelledDiagramInnerComponent_DebugColor {
  background-color: rosybrown;
}

div.PopUpLabelledDiagramPopUpItemComponent {
  position: absolute;
  display: inline-block;
}

div.PopUpLabelledDiagramPopUpItemComponent_DebugColor {
  background-color: palegoldenrod;
}

h4.PopUpLabelledDiagramPopUpItemTitle {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid teal;
}
