/**
 * PopUpLabelledDiagram-debug.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 07, 2020
 * Updated  : Aug 07, 2020
 */

div.PopUpLabelledDiagramOuterComponent_DebugColor {
  background-color: slateblue;
}

div.PopUpLabelledDiagramInnerComponent_DebugColor {
  background-color: rosybrown;
}

div.PopUpLabelledDiagramPopUpItemComponent_DebugColor {
  background-color: palegoldenrod;
}
