/**
 * QnAPopUp.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Aug 07, 2020
 */

div.QnAPopUpContainer {
  width: 180px;
  height: 60px;
  position: relative;
}

div.QnAPopUpMainTextBubbleContainer {
  width: 320px;
  height: 320px;
  position: relative;
  left: 200px;
  top: -420px;
  z-index: 11;
}

div.QnAPopUpTextSecondaryBubbleContainer {
  width: 45px;
  height: 45px;
  position: relative;
  left: 170px;
  top: -110px;
  z-index: 11;
}

div.QnAPopUpButtonGroupContainer {
  display: inline-block;
  z-index: 9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #212529;
}

button.ui.orange.circular.icon.button.QuestionButton {
  margin-left: 10px;
}

button.ui.black.circular.icon.button.QuestionButton {
  margin-left: 10px;
}
