/**
 * QuizBoard.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 17, 2020
 * Updated  : Aug 07, 2020
 */

div.QuizBoardOuterContainer {
}

div.QuizBoardInnerContainer {
  position: absolute;
}

div.QuizBoardItemContainer {
  position: absolute;
  display: inline-block;
}
