/**
 * StatsLabel.js
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Aug 12, 2020
 * Updated  : Aug 12, 2020
 */

div.ui.inverted.segment.StatsLabel {
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(27,28,29);
}
