/**
 * TextBubble.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 06, 2020
 * Updated  : Aug 17, 2020
 */

div.TextBubbleOuterContainerFlexWrapper {
  display: flexbox;
  justify-content: center;
}

div.TextBubbleOuterContainer {
  width: 100%;
  background-color: rgba(0, 185, 207);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* div.TextBubbleInnerContainer {
} */

div.TextBubbleInnerCore {
  margin: 0 10%;
}

div.TextBubbleInnerCore h1 {
  color: white;
}

@media screen and (max-width: 909px) {
  div.TextBubbleOuterContainer {
    border-radius: 0;
  }
}
