/**
 * TextReveal.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 05, 2020
 * Updated  : Jul 31, 2020
 */

div.TextRevealComponentCoverContainerDiv {
  width: 120px;
  height: 120px;
  text-align: center;
  vertical-align: middle;
}

div.TextRevealComponentContentContainerDiv {
  width: 120px;
  height: 120px;
  max-height: 120px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

p.TextRevealComponentDescriptionText {
  font-size: 16px;
  vertical-align: middle;
  color: white;
}

p.TextRevealComponentCaptionText {
  font-style: italic;
  font-size: 16px;
  color: white;
}
