/**
 * FuturePage_Subsection_CheetahsAtCCF.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 14, 2020
 */

div.FuturePageSubsectionCheetahsAtCCFImageContainer {
  width: 384px;
  margin: 0 auto;
}

div.FuturePageSubsectionCheetahsAtCCFImageContainer_DebugColor {
  background-color: red;
}
