/**
 * HistoryPageFelidaeFamilyTreeSubsection.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 07, 2020
 */

div.HistoryPageFelidaeFamilyTreeSubsectionOuterContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: turquoise;
}

div.HistoryPageFelidaeFamilyTreeSubsectionInnerContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: violet;
}

div.HistoryPageFelidaeFamilyTreeSubsectionCore {
  margin: 0 auto;
  width: 1200px;
  /* Uncomment line below for debugging. */
  background-color: tomato;
}
