/**
 * HistoryPage_Subsection_FelidaeFamilyTree.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 09, 2020
 */

div.HistoryPageFelidaeFamilyTreeSubsectionOuterContainer {
  margin: 0 auto;
}

div.HistoryPageFelidaeFamilyTreeSubsectionOuterContainer_DebugColor {
  background-color: turquoise;
}

div.HistoryPageFelidaeFamilyTreeSubsectionInnerContainer {
  margin: 0 auto;
}

div.HistoryPageFelidaeFamilyTreeSubsectionInnerContainer_DebugColor {
  background-color: violet;
}

div.HistoryPageFelidaeFamilyTreeSubsectionCore {
  margin: 0 auto;
  width: 1200px;
}

div.HistoryPageFelidaeFamilyTreeSubsectionCore_DebugColor {
  background-color: tomato;
}
