/**
 * HistoryPage_Subsection_RoadToExtinction.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 09, 2020
 */

div.HistoryPageSubsectionRoadToExtinctionStatsBox {
  padding: 50px;
  display: block;
  background-color: rgba(0,0,0,.87);
  border-radius: 10px;
}
