/**
 * HistoryPage_SubSection_Cheetah_Evolution.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 11, 2020
 * Updated  : Jul 11, 2020
 */

div.HistoryPageSubsectionCheetahEvolutionOuterContainer {
  margin: 0 auto;
}

div.HistoryPageSubsectionCheetahEvolutionOuterContainer_DebugColor {
  background-color: greenyellow;
}

div.HistoryPageSubsectionCheetahEvolutionInnerContainer {
  display: inline-block;
  margin: 0 auto;
}

div.HistoryPageSubsectionCheetahEvolutionInnerContainer_DebugColor {
  background-color: honeydew;
}
