/**
 * HistoryPage_Subsection_CheetahsAtCCF.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 09, 2020
 */

div.HistoryPageCheetahsAtCCFSubsectionImageContainer {
  width: 384px;
  margin: 0 auto;
}

div.HistoryPageCheetahsAtCCFSubsectionImageContainer_DebugColor {
  background-color: red;
}
