/**
 * HistoryPageIntroSection.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 12, 2020
 * Updated  : Jul 12, 2020
 */

div.HistoryPageIntroSectionInnerContainer {
  display: block;
}

div.HistoryPageIntroSectionInnerContainer_DebugColor {
  background-color: orange;
}

img.HistoryPageIntroSectionImg {
  position: relative;
  /**
   * The negative position is to make the image
   * bleed out of the content section container.
   */
  right: -200px;
  float: right;
}

div.HistoryPageIntroSectionInnerContainer::after {
  float: clear;
}
