/**
 * HistoryPageCheetahPopulationIllustration.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 11, 2020
 * Updated  : Jul 11, 2020
 */

div.HistoryPageCheetahPopulationIllustrationOuterContainer {
  display: block;
  margin: 0 auto;
}

div.HistoryPageCheetahPopulationIllustrationOuterContainer_DebugColor {
  background-color: khaki;
}

div.HistoryPageCheetahPopulationIllustrationImageSlideContainer {

}

div.HistoryPageCheetahPopulationIllustrationImageSlideContainer_DebugColor {
  background-color: lightcyan;
}
