/**
 * HistoryPageCheetahsAtCCFSubsection.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 08, 2020
 */

div.HistoryPageCheetahsAtCCFSubsectionImageContainer {
  width: 384px;
  margin: 0 auto;
  background-color: red;
}
