/**
 * HistoryPageCheetahAndManImageSubsection.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Jul 07, 2020
 */

div.HistoryPageCheetahAndManImageSubsectionOuterContainer {
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: turquoise;
}

div.HistoryPageCheetahAndManImageSubsectionInnerContainer {
  width: 85%;
  margin: 0 auto;
  /* Uncomment line below for debugging. */
  background-color: rgb(171, 130, 238);
}

div.HistoryPageCheetahAndManImageSubsectionContentTextContainer {
  text-align: right;
}
