/**
 * HistoryPage_Subsection_Cheetah_Evolution.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 11, 2020
 * Updated  : Aug 07, 2020
 */

div.HistoryPageSubsectionCheetahEvolutionOuterContainer {
  margin: 0 auto;
}

div.HistoryPageSubsectionCheetahEvolutionInnerContainer {
}

div.HistoryPageSubsectionCheetahEvolutionMapComponentContainer {
  /**
   * TODO:
   * This width is a hack to get the content to be centered.
   * Need a better solution ..
   */
  width: 1250px;
  margin: 0 auto;
}
