/**
 * HistoryPage_Subsection_RoadToExtinction.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 10, 2020
 * Updated  : Aug 08, 2020
 */

div.HistoryPageSubsectionRoadToExtinctionMiddleColumnContentOuterContainer {
  width: 100%;
}

div.HistoryPageSubsectionRoadToExtinctionStatsBox {
  padding: 50px;
  display: block;
  background-color: rgba(0,0,0,.87);
  border-radius: 10px;
}

div.HistoryPageSubsectionRoadToExtinctionMiddleColumnContentImageSlideModalContainer {
  width: 480px;
  margin: 0 auto;
}

div.HistoryPageSubsectionRoadToExtinctionMiddleColumnContentCheetahPopulationIllustrationContainer{
  margin: 20px auto;
}
