/**
 * HistoryPage_Subsection_FelidaeFamilyTree.css
 * Chewbaaka
 *
 * Author   : Tomiko
 * Created  : Jul 07, 2020
 * Updated  : Aug 07, 2020
 */

div.HistoryPageSubsectionFelidaeFamilyTreeOuterContainer {
  margin: 0 auto;
}

div.HistoryPageSubsectionFelidaeFamilyTreeInnerContainer {
  margin: 0 auto;
}

div.HistoryPageSubsectionFelidaeFamilyTreeCore {
  margin: 20px auto;
}
